<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>Controllers.VerifyCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controllers.LoginControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
       <servlet>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <servlet-class>Controllers.ForgotPasswordControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <url-pattern>/ForgotPasswordControl</url-pattern>
    </servlet-mapping>
          <servlet>
        <servlet-name>ChangePasswordControl</servlet-name>
        <servlet-class>Controllers.ChangePasswordControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordControl</servlet-name>
        <url-pattern>/ChangePasswordControl</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>VerifyChangePass</servlet-name>
        <servlet-class>Controllers.VerifyChangePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyChangePass</servlet-name>
        <url-pattern>/VerifyChangePass</url-pattern>
    </servlet-mapping>
     
  
</web-app>
